---
# role: ansible-role-samba-dc
# file: tasks/provision.yml

- name: "Provision | Check if krb5.conf exists"
  stat:
    path: '/var/lib/samba/private/krb5.conf'
  register: samba_dc_krb5
  tags:
    - samba-dc:provision

- name: "Provision | Remove /etc/samba/smb.conf if krb5.conf does not exists"
  file:
    path: '/etc/samba/smb.conf'
    state: absent
  when: not samba_dc_krb5.stat.exists | bool
  tags:
    - samba-dc:provision

- name: "Provision | Write smb.conf"
  template:
    src: "etc/samba/smb.conf.j2"
    dest: "/etc/samba/smb.conf"
    mode: 0644
    validate: testparm -s %s
  register: samba_dc_conf
  tags:
    - samba-dc:provision
    - samba-dc:provision:smb.conf

# CHECK: Archlinux was missing LD_LIBRARY_PATH for libicui18n.so.69.
- name: "Provision | DC Provisioning new AD Forest"
  shell: >
    LD_LIBRARY_PATH="/usr/lib" samba-tool domain provision
    --server-role=dc
    {{ '--use-rfc2307' if samba_dc_rfc2307 | bool }}
    --dns-backend={{ samba_dc_dns_backend | upper }}
    {{ '--site=' + samba_dc_site if samba_dc_site | length > 0 else '' }}
    --realm={{ samba_dc_dns_domain | upper }}
    --domain={{ samba_dc_workgroup | upper }}
    --adminpass={{ samba_dc_admin_password }}
  args:
    creates: '/var/lib/samba/private/krb5.conf'
  no_log: "{{ samba_dc_dc_no_log }}"
  register: _samba_dc_provision
  when: samba_dc_provision | bool
  tags:
    - samba-dc:provision
    - samba-dc:provision:samba-tool

- name: "Provision | DC Join to existing AD Forest"
  shell: >
    LD_LIBRARY_PATH="/usr/lib" samba-tool domain join
    {{ samba_dc_dns_domain | lower }} DC
    --dns-backend={{ samba_dc_dns_backend | upper }}
    {{ '--site=' + samba_dc_site if samba_dc_site | length > 0 else '' }}
    --realm={{ samba_dc_dns_domain | lower }}
    --username="{{ samba_dc_workgroup }}\administrator"
    --password={{ samba_dc_admin_password }}
  args:
    creates: '/var/lib/samba/private/krb5.conf'
  no_log: "{{ samba_dc_dc_no_log }}"
  register: _samba_dc_join
  when: not samba_dc_provision | bool
  tags:
    - samba-dc:provision
    - samba-dc:provision:samba-tool

# no handler, because we need to work with a running samba.
# handlers are always triggered at the end of a play.
- name: "Provision | Copy Kerberos Configuration to /etc"
  copy:
    src: '/var/lib/samba/private/krb5.conf'
    dest: '/etc/krb5.conf'
    mode: 0644
    remote_src: true
  when: _samba_dc_provision is changed
    or _samba_dc_join is changed
  tags:
    - samba-dc:provision
    - samba-dc:provision:krb5.conf

# no handler, because we need to work with a running samba...
- name: "Provision | Restart samba service(s) if smb.conf changed"
  service:
    name: "{{ item }}"
    state: restarted
  loop: "{{ samba_dc_enabled_services }}"
  when: samba_dc_conf is changed
  tags:
    - samba-dc:provision
    - samba-dc:provision:restart
    - samba-dc:provision:smb.conf

- name: "Provision | Disable expiry of Administrator account"
  command: samba-tool user setexpiry Administrator --noexpiry
  changed_when: false
  tags:
    - samba-dc:provision

- name: "Provision | Set default password policy"
  command: |
    samba-tool domain passwordsettings set
    --complexity={{ samba_dc_pwd_complexity }}
    --min-pwd-age={{ samba_dc_pwd_min_age }}
    --max-pwd-age={{ samba_dc_pwd_max_age }}
    --min-pwd-length={{ samba_dc_pwd_min_len }}
    --history-length={{ samba_dc_pwd_history_len }}
  changed_when: false
  tags:
    - samba-dc:provision
    - samba-dc:provision:policy
