# file: {{ template_destpath }}
# vim:  set sw=4 ts=4 tw=4 et :
# desc: managed by ansible
# role: jam82.samba-dc

# Global parameters
[global]
{% if samba_dc_interfaces | length > 0 %}
    bind interfaces only = yes
{% endif %}
    dns forwarder = {{ samba_dc_dns_forwarders | join(' ') }}
{% if samba_dc_interfaces | length > 0 %}
    interfaces = {{ samba_dc_interfaces | join(' ') }}
{% endif %}
    idmap_ldb:use rfc2307 = {{ samba_dc_use_rfc2307 | ternary('yes', 'no') }}
{% if samba_dc_keytab | bool %}
    kerberos method = secrets and keytab
{% endif %}
    netbios name = {{ ansible_hostname }}
    realm = {{ samba_dc_dns_domain | upper }}
    server role = dc
    workgroup = {{ samba_dc_workgroup | upper }}
{% for parameter in samba_dc_smb_conf.global | default([]) %}
    {{ parameter }}
{% endfor %}

# Netlogon share
[netlogon]
    path = /var/lib/samba/sysvol/{{ samba_dc_dns_domain | lower }}/scripts
    read only = No
{% for parameter in samba_dc_smb_conf.netlogon | default([]) %}
    {{ parameter }}
{% endfor %}

# Sysvol share
[sysvol]
    path = /var/lib/samba/sysvol
    read only = No
{% for parameter in samba_dc_smb_conf.sysvol | default([]) %}
    {{ parameter }}
{% endfor %}
