# {{ template_destpath }}
# vim: set sw=4 ts=4 tw=4 et :
# role: jomrr.samba-dc
# user: {{ ansible_user_id }}

domain {{ samba_dc_dns_domain | lower }}
search {{ samba_dc_dns_domain | lower }}
nameserver 127.0.0.1
{% if samba_dc_nameserver | default('')  | length > 0 %}
nameserver {{ samba_dc_nameserver }}
{% endif %}
{% for forwarder in samba_dc_dns_forwarders %}
{%  if loop.index == 1 %}
{%      if forwarder is defined %}
nameserver {{ forwarder }}
{%      endif %}
{%  endif %}
{% endfor %}
